<nav class="navbar navbar-light navbar-expand-md py-3 border-bottom_red">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#"><%= image_tag "logo.svg"%></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-2" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><%= link_to "Accueil", root_path, class: "nav-link nav-link active" %></li>
              <li class="nav-item"><%= link_to "Vin Rouge", "#", class: "nav-link nav-link" %></li>
              <li class="nav-item"><%= link_to "Vin Rosé", "#", class: "nav-link nav-link" %></li>
              <li class="nav-item"><%= link_to "Vin Rosé", "#", class: "nav-link nav-link" %></li>
          </ul>
      </div>
    </div>
</nav>
