<%= render 'shared/nav_bar' %>
<section id="show-wine fw4fsn"class="d-md-flex">
  <div class="container">
  <div class="back"><%= link_to 'Retour', 'javascript:history.back()', class: "show-pays fw4fsn" %></div>
    <div class="row">
      <div class="col-md-12 col-lg-6 text-center mb-3"><%= image_tag @wine.wine_img, width: 400, height: 325 %></div>
      <div class="col-md-12 col-lg-6">
        <div><h2><%=@wine.name%></h2></div>
        <div><p><span class="show-pays fw4fsn"><%=@wine.region%>, </span><span class="show-region fw4fsn"><%=@wine.domaine%></span></p></div>
        <div class="d-flex align-items-center align-content-center mt-4">
          <p class="show-expert-lib fw5fsn">NOTE DES EXPERTS :</p>
          <span class="d-flex show-bg-note">
            <%= image_tag "Star.svg"%>
            <h3 class="mbml"><%=@wine.rating%> / 100</h3>
          </span>
        </div>
        <div><p class="show-price fw5fsn"><%= @wine.price %> €</p></div>
        <div class="d-flex"><span><%= image_tag "available.svg" %></span><p class="show-available fw4fsn"><%=@wine.available%></p></div>
        <div><p><span class="show-available fw4fsn show-vente"><%= link_to "voir la vente", @wine.wine_url, target: "_blank", class: "link-v" %></span></p></div>
      </div>
    </div>
  </div>
</section>
<section id="wine-details">
  <div class="container">
  <h4>LES CARACTERISTIQUES DU VIN</h4>
    <div class="row d-flex flex-row ">
      <% @key_val_to_display.each do |detail_wine| %>
        <% unless detail_wine[1].nil?  %>
          <div class="col-md-6 d-flex align-items-center align-content-center justify-content-between pr-2 wine-details-marginr ">
            <p class="wine-details-lib fw4fsn"><%= detail_wine[0].gsub("_"," ").gsub("da", "d'a").capitalize %></p>
            <p class="wine-details-val fw4fsn"><%= detail_wine[1] %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
